<h1>Editing one time password</h1>

<%= render "form", one_time_password: @one_time_password %>

<br>

<div>
  <%= link_to "Show this one time password", @one_time_password %> |
  <%= link_to "Back to one time passwords", one_time_passwords_path %>
</div>
